<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Solo Leveling
        link(rel='icon' type='image/x-icon' href='/img/favicon.ico')
        link(rel='stylesheet' href='/style.css' type='text/css')
    body
        header
            section#header
                a(href='/')
                    img.logo(src='/img/sll.png' alt='')
                nav
                    ul#navbar
                        li
                            a(href="/")
                                | Home
                        li
                            a(href="/shop")
                                | Shop
                        li
                            a(href="/skateboard")
                                | Skateboarding
                        li
                            a(href="/clothing") Clothing
                        li
                            a(href="/accessories")
                                | Accessories
                        li
                            a(href="/cart") Cart
                        li
                            if (user !== undefined)
                                a(href="/logout") Logout
                            else
                                a(href='/login') Login
                        if (user !== undefined)
                            if (user.role == 'admin')
                                li
                                    a(href='/test') Admin Stuffs
    block template
footer
    h4 Sign up for our Newsletter
    p Get the latest news and special offers on our products
    form(action='/email' method='post')
        input(name='email' type='text' placeholder='Enter your email' autofocus='')
        input(type='submit' value='Subscribe')
