extends layouts/template.pug
block template
  section#product1.section-p1
    h2 Clothing Products
    .pro-contain
      .pro(onclick="window.location.href='productpages/12product.html';")
        img(src='img/products/hoodie.png' alt='')
        .desc
          span Deckadence
          h5 House of Decks Zip-Up Hoodie
          .star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          h4 $46.49
        a(href='#')
          i.fas.fa-shopping-cart.cart
  seciton#newsletter
    .newstext
      h4 Sign up for our Newsletter
      p
        | Get the latest news and
        span special offers
          on our products
      .form
        input(type='text' placeholder='Enter your email')
        button Subscribe
  script(src='script.js')