doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Solo Leveling
        link(rel='icon' type='image/x-icon' href='img/favicon.ico')
        link(rel='stylesheet' href='style.css')
    body#lbody
        section#header
            a(href='#')
                img.logo(src='img/sll.png' alt='')
            div
                ul#navbar
                    li
                        a(onclick="window.location.href='index.html';")
                            | Home
                    li
                        a(onclick="window.location.href='shop.html';")
                            | Shop
                    li
                        a(onclick="window.location.href='skateboarding.html';")
                            | Skateboarding
                    li
                        a(onclick="window.location.href='clothing.html';") Clothing
                    li
                        a(onclick="window.location.href='accessories.html';")
                            | Accessories
                    li
                        a(onclick="window.location.href='cart.html';") Cart
                    li
                        a(onclick="window.location.href='login.html';") Login
        video#videobg(autoplay='' muted='' loop='')
            source(src='img/Dan2.mp4' type='video/mp4')
        header#lheader
            h1 Sign Up
        main
            form#login_form.form_class(action='login.html' method='post')
                .form_div
                    label Email:
                    input.field_class(name='login_txt' type='text' placeholder='Enter Email' autofocus='')
                    label Password:
                    input#pass.field_class(name='password_txt' type='password' placeholder='Enter Pass')
                    button.submit_class(type='submit' form='login_form' onclick='return validarLogin()') Sign Up
            section#promo2
        seciton#newsletter
            .newstext
                h4 Sign up for our Newsletter
                p
                    | Get the latest news and
                    span special offers
                        on our products
                .form
                    input(type='text' placeholder='Enter your email')
                    button Subscribe
        script(src='script.js' type='module')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js')