doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Solo Leveling
        link(rel='icon' type='image/x-icon' href='/img/favicon.ico')
        link(rel='stylesheet' href='/style.css' type='text/css')
    body
        section#header
            a(href='#')
                img.logo(src='img/sll.png' alt='')
            div
                ul#navbar
                    li
                        a.active(onclick="window.location.href='index.html';")
                            | Home
                    li
                        a(onclick="window.location.href='shop.html';")
                            | Shop
                    li
                        a(onclick="window.location.href='skateboarding.html';")
                            | Skateboarding
                    li
                        a(onclick="window.location.href='clothing.html';") Clothing
                    li
                        a(onclick="window.location.href='accessories.html';")
                            | Accessories
                    li
                        a(onclick="window.location.href='cart.html';") Cart
                    li
                        a(onclick="window.location.href='login.html';") Login
        video#videobg(autoplay='' muted='' loop='')
            source(src='img/tyshawn.mp4' type='video/mp4')
        section#promo
            h3 March sale
            h2 Insane deals!
            h1 get 50% off on a deck when you buy a complete
            p only valid for shop decks.
            .container
                a.button(onclick="window.location.href='skateboarding.html';")
                    .button__line
                    .button__line
                    span.button__text Shop Skateboarding
                    .button__drow1
                    .button__drow2
        seciton#newsletter
            .newstext
                h4 Sign up for our Newsletter
                p
                    | Get the latest news and
                    span special offers
                        on our products
                .form
                    input(type='text' placeholder='Enter your email')
                    button Subscribe
        script(src='/script.js' type='text/javascript')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js')