extends layouts/template.pug
block template
    video#videobg(autoplay='' muted='' loop='')
        source(src='img/tyshawn.mp4' type='video/mp4')
    section#promo
        h3 March sale
        h2 Insane deals!
        h1 get 50% off on a deck when you buy a complete
        p only valid for shop decks.
        .container
            a.button(href="/shop")
                .button__line
                .button__line
                span.button__text Shop Skateboarding
                .button__drow1
                .button__drow2