extends layouts/template.pug
block template
  section#prodetails.section-p1
    .single-pro-img
      img#Mainimg(src='img/products/Acetrucks.png' width='100%' alt='')
    .single-pro-detail
      h6 Skateboarding
      h4 ACE AF1 Skateboard Trucks - Gold (Set of 2)
      h2 $62.95
      select
        option Select Size
        option 22
        option 33
        option 44
        option 44
      input(type='number' value='1')
      .container2
        a.button(href='#')
          .button__line
          .button__line
          span.button__text Add to Cart
          .button__drow1
          .button__drow2
      h4 Product Details
      span
        | These all-new ACE AF1 feature game-changing performance without deviating from the original Ace geometry. The AF1 is carefully manufactured using a proprietary casting process. Years in development, the ACE AF1 has a 70% increase in the aluminum&rsquo;s structural integrity, making it the strongest cast truck on the market. We updated the sizing on the 44 thru 77 models for a better fit across multiple board widths
        | &bull; Weight: 13.5 oz
        | &bull; Manufactured with high-quality AA 356.2 alloy using our own proprietary casting method
        | &bull; True T6 heat-treated baseplates and hangers
        | &bull; SAE 4140 steel alloy axles, oversized to eliminate bearing wobble.
        | &bull; Patent pending rethreading axle nuts &ndash; no more damaged axle ends!
        | &bull; Durable Hand-poured 96a urethane pivot bushings for better response.
        | &bull; Refined suspension for a cleaner turn.
        | &bull; Top Bushing: 12mm tall | 91a hardness
        | &bull; Bottom Bushing: Bottom 14mm tall | 86a hardness
        | &bull; Machine-faced hanger ends for precise bearing contact.
  seciton#newsletter
    .newstext
      h4 Sign up for our Newsletter
      p
        | Get the latest news and
        span special offers
        |           on our products
      .form
        input(type='text' placeholder='Enter your email')
        button Subscribe
  
