<!DOCTYPE html>
html(lang='en')
    extends layouts/template.jade
    block template
        video#videobg(autoplay='' muted='' loop='')
            source(src='img/Dan.mp4' type='video/mp4')
        
        h1 Login
        main
            form.form_class(action='/login' method='post').form_div
                label Username
                input.field_class(name='username' type='text' placeholder='Username' autofocus='')
                label Password:
                input#pass.field_class(name='password' type='password' placeholder='Enter Pass')
                input.submit_class(type='submit' value='Login')
                
            button.createbutton(onclick='window.location.href = \'/signup\'') Create Account
.info_div
    
        section#promo2
        seciton#newsletter
            .newstext
                h4 Sign up for our Newsletter
                p
                    | Get the latest news and
                    span special offers
                        on our products
                .form
                    input(type='text' placeholder='Enter your email')
                    button Subscribe
        script(src='script.js' type='module')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js')