doctype html
html(lang='en')
    extends layouts/template.jade
    block template
        video#videobg(autoplay='' muted='' loop='')
            source(src='img/Dan.mp4' type='video/mp4')
        header#lheader
            h1 Login
        main
            form#login_form.form_class(action='index.html' method='post')
                .form_div
                    label Email:
                    input.field_class(name='login_txt' type='text' placeholder='Enter Email' autofocus='')
                    label Password:
                    input#pass.field_class(name='password_txt' type='password' placeholder='Enter Pass')
                    button.submit_class(type='submit' form='login_form' onclick='return validarLogin()') Enter
            .info_div
                button.createbutton(onclick="window.location.href='create.html';") Create Account
            section#promo2
        seciton#newsletter
            .newstext
                h4 Sign up for our Newsletter
                p
                    | Get the latest news and
                    span special offers
                        on our products
                .form
                    input(type='text' placeholder='Enter your email')
                    button Subscribe
        script(src='script.js' type='module')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js')