
extends layouts/template.pug
block template
    section#product1.section-p1
        h2 All Products
        .pro-contain
            each val in shop
                .pro(onclick="/item/"+val.id)
                    img(src=val.image alt='')
                    .desc
                        span=val.manufacturer
                        h5=val.name
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4='$'+val.price
                    a(href='#')
                        i.fas.fa-shopping-cart.cart

    seciton#newsletter
        .newstext
            h4 Sign up for our Newsletter
            p
                | Get the latest news and
                span special offers
                    on our products
            .form
                input(type='text' placeholder='Enter your email')
                button Subscribe
    script(src='script.js')