
extends layouts/template.pug
block template
    video#videobg3(autoplay='' muted='' loop='')
        source(src='img/Dan2.mp4' type='video/mp4')
    header#lheader
        h1 Login
    main
    .info_box
        form.form_class(action='/signup' method='post').form_div
            label Username:
            input.field_class(name='username' type='text' placeholder='Username' autofocus='')
            label Email:
            input.field_class(name='email' type='text' placeholder='Enter Email' autofocus='')
            label Password:
            input#pass.field_class(name='password' type='password' placeholder='Enter Pass')
            input.submit_class(type='submit' value='Sign up')
    .info_div