doctype html
html(lang='en')
    extends layouts/template.jade
    block template
        section#product1.section-p1
            h2 Skateboarding Products
            .pro-contain
                .pro(onclick="window.location.href='productpages/sproduct.html';")
                    img(src='img/products/bakerboard.png' alt='')
                    .desc
                        span Baker
                        h5 Baker Skateboard Deck
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $65
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/2product.html';")
                    img(src='img/products/powellboard.png' alt='')
                    .desc
                        span Powell
                        h5 Powell Peralta Ripper Skateboard Deck
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $43
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/3product.html';")
                    img(src='img/products/realboard.png' alt='')
                    .desc
                        span Real
                        h5 Real Skateboard Deck
                        .star
                            i.fas.fa-star
                        h4 $69
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/4product.html';")
                    img(src='img/products/Acetrucks.png' alt='')
                    .desc
                        span Ace
                        h5 ACE AF1 Skateboard Trucks - Gold (Set of 2)
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $62.95
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/5product.html';")
                    img(src='img/products/Acetrucks2.png' alt='')
                    .desc
                        span Ace
                        h5 ACE AF1 Skateboard Trucks - Polished (Set of 2)
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $62.95
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/6product.html';")
                    img(src='img/products/4wheels.png' alt='')
                    .desc
                        span Spitfire
                        h5 Spitfire Formula Four 52mm Connical Skateboard Wheels
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $38.99
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/7product.html';")
                    img(src='img/products/boneswheels.png' alt='')
                    .desc
                        span Bones
                        h5
                            | 54mm 84B P5 SPF Sidecut BONES WHEELS Skateboard Wheels- Ripples,
                            | White (4pack)
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $25.21
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/8product.html';")
                    img(src='img/products/dragonwheels.png' alt='')
                    .desc
                        span Powell
                        h5
                            | 54mm 93a Powell Peralta Skateboard Wheels- Dragons (Set of 4)
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $54.13
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/9product.html';")
                    img(src='img/products/hardware.png' alt='')
                    .desc
                        span Enjoi
                        h5
                            | 1&Prime; Enjoi- Colorful Little Buddies Bolts Hardware
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $5.95
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/10product.html';")
                    img(src='img/products/Griptape1.png' alt='')
                    .desc
                        span Mob
                        h5
                            | Toy Machine X Independent Grip Tape Sheet- Assorted Knuckle Tats
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $14.95
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
                .pro(onclick="window.location.href='productpages/11product.html';")
                    img(src='img/products/Griptape2.png' alt='')
                    .desc
                        span Mob
                        h5
                            | 10&Prime; Wide Clear Mob Skateboard Grip Tape by the Foot
                        .star
                            i.fas.fa-star
                            i.fas.fa-star
                        h4 $3.95
                    a(href='#')
                        i.fas.fa-shopping-cart.cart
        seciton#newsletter
            .newstext
                h4 Sign up for our Newsletter
                p
                    | Get the latest news and
                    span special offers
                        on our products
                .form
                    input(type='text' placeholder='Enter your email')
                    button Subscribe
        script(src='script.js')